<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Game Review</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
  <script th:replace="layout/scripts :: scripts"></script>
  <style th:replace="layout/styles :: styles"></style>
  <script>

  </script>
</head>
<body>
<header th:replace="layout/header :: mainHeader(${categoryList})"></header>
<section>
  <div class="container my-2">
    <div class="row">
      <aside th:replace="layout/sidebarLeft :: leftSidebar(${categoryList})"></aside>
      <div class="col-sm-8 section-inner">
        <div id="boardTitle" class="container-fluid">
          <h4>게임 리뷰 게시판</h4>
        </div>
        <div class="container-fluid mt-3 p-0 bg-light">
          <div class="container p-4">
            <div class="row gap-3">
              <div class="col-sm-5">
                <img th:src="${game.storedFilePath}" style="width: 300px; height: 200px">
              </div>
              <div class="col-sm">
                <div class="row">
                  <div class="col-sm">
                    <h3 th:text="${game.gameTitle}"></h3>
                  </div>
                  <div class="d-flex justify-content-end col-sm-2">
                    <h2 style="font-weight: bold">9.1</h2>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm mt-4">
                    <p th:text="${game.gameInfo}"></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="container-fluid mt-3 bg-light">
          <div class="row p-3">
            <div class="col-sm">
              <table class="table">
                <tr>
                  <td>432432</td>
                  <td>432423432</td>
                  <td>423432</td>
                </tr>
                <tr>
                  <td>432432</td>
                  <td>432423432</td>
                  <td>423432</td>
                </tr>
                <tr>
                  <td>432432</td>
                  <td>432423432</td>
                  <td>423432</td>
                </tr>
              </table>
            </div>
          </div>
        </div>
        <div class="container-fluid p-3 bg-light">
          <div class="rounded-2 bg-white p-4" style="border: solid 1px darkgray">
            <form action="/game/review" method="post">
              <div class="row">
                <p class="fw-bold">아이디1</p>
              </div>
              <input type="text" name="review" placeholder="내용을 입력하세요"
                     style="display: block; width: 100%; outline: none; border: none;">
              <div class="d-flex justify-content-between mt-3">
                <select class="form-select" style="width:120px;">
                  <option selected>--평점--</option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="3">4</option>
                  <option value="3">5</option>
                  <option value="3">6</option>
                  <option value="3">7</option>
                  <option value="3">8</option>
                  <option value="3">9</option>
                  <option value="3">10</option>
                </select>
                <button type="submit" class="btn btn-secondary col-sm-1" id="btn-submit">등록</button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <aside th:replace="layout/sidebarRight :: sidebarRight"></aside>
    </div>
  </div>
</section>

<footer th:replace="layout/footer :: mainFooter"></footer>
</body>
</html>