<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
  <script src="https://kit.fontawesome.com/9e8eac1bbf.js" crossorigin="anonymous"></script>
  <script th:replace="layout/scripts :: scripts"></script>
  <style th:replace="layout/styles :: styles"></style>
  <script>
    $(document).ready(function () {
      $("#btn-list").on("click", function () {
        history.back();
      });

      $("#btn-delete").on("click", function () {
        $("#method").val("delete");
        const frm = $("#frm-delete")[0];
        frm.action = "/board/delete/" + $("#idx").val();
        frm.submit();
      });


      $("#input-login").on("click", function () {
        alert('로그인이 필요합니다.');
        location.href = "/login";
      });

// 추천
      $("#btn-like").on("click", function () {
        let boardIdx = $("#idx").val();
        let userId = $("#userId").val();

        $.ajax({
          type: "POST",
          url: "/board/updateLike",
          data: {'boardIdx': boardIdx, 'userId': userId},
          error: function () {
            alert("로그인이 필요합니다.");
            location.href = '/login';
          },
          success: function (likeCheck) {

            if (likeCheck == 0) {

              location.reload();
            } else if (likeCheck == 1) {
              location.reload();
            }
          }
        });

      });
    });
  </script>
  <script th:inline="javascript">
    $(document).ready(function () {
      // 댓글
      $("#btn-submit").on("click", function () {

        const commentBoardIdx = $("#commentBoardIdx").val();
        const commentContents = $("#commentContents").val();
        const commentCreateDt = $("#commentCreateDt").val();
        const commentUserId = $("#commentUserId").val();
        const userName = $("#userName").val();
        console.log(userName);

        const datas = {
          "commentContents": commentContents,
          "commentUserId": commentUserId,
          "commentBoardIdx": commentBoardIdx,
          "commentCreateDt" : commentCreateDt,
          "userName" : userName
        };

        $.ajax({
          url: "/board/insertComment",
          type: "POST",
          data: datas,
          success: function (data) {
            $('#commentContents').val('');

            if (data.length > 0) {
              $("#comments").empty();

              for (let i = 0; i < data.length; i++) {
                let comments = '';
                comments = '<div style="border-bottom: solid 1px lightgray">';
                comments += '<div class="mt-2">';
                comments += '<span style="font-weight: bold">';
                comments += data[i].userName;
                comments += '</span>';
                comments += '<span class="ms-2" style="color: gray; font-size: 14px">&nbsp';
                comments += data[i].commentCreateDt;
                comments += '</span>';
                comments += '</div>';
                comments += '<div class="my-2">';
                comments += '<span>';
                comments += data[i].commentContents;
                comments += '</span>';
                comments += '</div>';
                comments += '</div>';

                $("#comments").append(comments);
              }
            }
          },
          error: function () {
            alert('통신실패');
          }
        });
      });
    });
  </script>

</head>
<body>
<header th:replace="layout/header :: mainHeader(${categoryList})"></header>
<section>
  <div class="container my-2">
    <div class="row">
      <aside th:replace="layout/sidebarLeft :: leftSidebar(${categoryList})"></aside>
      <div class="col-sm-8 section-inner">
        <div id="boardTitle" class="container mb-3">
          <h4 th:text="${board.categoryName}"></h4>
        </div>
        <div class="row p-2">
          <div class="card card-header pt-0">
            <form id="frm-delete" method="post">
              <div class="row">
                <div class="col-sm-1 p-1 m-3 rounded-2 text-center" style="border: solid 1px darkgray; font-size: 16px">
                  <span th:text="${board.boardCategory}" style="vertical-align: center"></span>
                </div>
                <div class="col-sm px-1 py-2 my-auto me-2 ms-3 rounded-2" style="font-size: 25px;">
                  <span th:text="${board.boardTitle}"></span>
                </div>
                <hr>
              </div>
              <div class="row">
                <div class="ms-2 col-sm">
                  <i style="color: #7a7a7a; font-size: 20px" class="bi bi-person-circle"></i>
                  <span th:text="${board.boardUserName}" style="font-size: 20px"></span>
                </div>
                <div class="col-sm d-flex justify-content-end">
                  <span class="me-3" th:text="${board.boardCreateDt}" style="color: #7a7a7a"></span>
                  <i class="bi bi-eye" style="color: #7a7a7a"></i>
                  <span class="ms-1" th:text="${board.boardHitCnt}" style="color: #7a7a7a"></span>
                </div>
              </div>
              <!-- 내용 -->
              <div class="col-xl my-3">
                <textarea class="form-control" rows="15" id="boardContents" name="boardContents"
                          th:text="${board.boardContents}" readonly></textarea>
              </div>
              <input type="hidden" id="method" name="_method">
            </form>

            <!--              추천 -->
            <form id="frm-like" method="post">
              <div class="row d-flex justify-content-center my-3">
                <button type="button" id="btn-like" class="col-auto p-0" style="border: none">
                  <ul class="list-group col-auto">
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                      추천
                      <span class="badge bg-primary rounded-pill2 ms-2" th:text="${board.boardLikeCnt}"
                            id="likeCnt"></span>
                    </li>
                  </ul>
                </button>
              </div>
            </form>
          </div>

          <!--          댓글 부분-->
          <div class="card card-header mt-3 p-3">
            <form method="post" id="frm-comment">
              <h5 class="mt-2">댓글</h5>
              <div id="comments">
                <div th:if="${#lists.size(commentList)} > 0" th:each="comment : ${commentList}"
                     style="border-bottom: solid 1px lightgray">
                  <div class="mt-2">
                    <span id="userName" th:value="${comment.userName}" th:text="${comment.userName}" style="font-weight: bold"></span>
                    <span class="ms-2" id="commentCreateDt" th:value="${comment.commentCreateDt}" th:text="${comment.commentCreateDt}" style="color: gray; font-size: 14px"></span>

                  </div>
                  <div class="my-2">
                    <span th:text="${comment.commentContents}"></span>
                  </div>
                </div>
                <div th:unless="${#lists.size(commentList)} > 0" style="border-bottom: solid 1px lightgray"></div>
              </div>
              <div class="rounded-2 bg-white p-3 mb-3 mt-4" style="border: solid 1px darkgray">
                <div th:if="${session.user} != null">
                  <p class="fw-bold" th:text="${session.user.userName}"></p>
                  <input type="hidden" id="commentBoardIdx" th:value="${board.boardIdx}">
                  <input type="hidden" id="commentUserId" th:value="${session.user.userId}">
                  <input type="text" id="commentContents" placeholder="내용을 입력하세요"
                         style="display: block; width: 100%; outline: none; border: none;">
                  <div class="d-flex justify-content-end">
                    <button type="button" class="btn btn-secondary col-sm-1" id="btn-submit">등록</button>
                  </div>
                </div>
                <div th:unless="${session.user} != null">
                  <input type="text" id="input-login" placeholder="로그인이 필요한 서비스입니다."
                         style="display: block; width: 100%; outline: none; border: none;" readonly>
                  <div class="d-flex justify-content-end">
                    <button type="button" class="btn btn-secondary col-sm-1">등록</button>
                  </div>
                </div>
              </div>
            </form>
          </div>


        </div>

        <div class="col-auto d-flex justify-content-between mt-3">
          <div class="d-flex">
            <button class="btn btn-primary" type="button" id="btn-list">목록</button>
          </div>
          <div th:if="${session.user} != null">
            <input type="hidden" id="idx" th:value="${board.boardIdx}">
            <input type="hidden" id="userId" th:value="${session.user.userId}">
            <div th:if="${session.user.userId} == ${board.boardUserId}">
              <div class="d-flex">
                <a href="/board/update/" th:attrappend="href=${board.boardIdx}" class="btn btn-primary me-2"
                   type="button">수정</a>
                <button class="btn btn-primary" type="button" data-bs-toggle="modal" data-bs-target="#boardDelete">삭제
                </button>
              </div>
            </div>
          </div>
        </div>


      </div>
      <aside th:replace="layout/sidebarRight :: sidebarRight"></aside>
    </div>
  </div>
</section>


<footer th:replace="layout/footer :: mainFooter">
</footer>


<div class="modal fade" id="boardDelete" tabindex="-1" aria-labelledby="boardDeleteLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="boardDeleteLabel">정말 삭제 하시겠습니까?</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        게시물이 삭제 됩니다.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
        <button type="button" class="btn btn-primary" id="btn-delete">삭제</button>
      </div>
    </div>
  </div>
</div>

</body>
</html>