<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>로그인 화면</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
  <script th:replace="layout/scripts :: scripts"></script>
  <style th:replace="layout/styles :: styles"></style>
  <script>
    $(document).ready(function(){
      $('#btn-submit').on('click', function (){
        let userId = $('#userId').val();
        let userPw = $('#userPw').val();

        $.ajax({
          type: "post",
          url : "/login",
          data : {"userId": userId, "userPw": userPw},
          success: function (data) {
            if (data == 0) {
              alert("아이디와 비밀번호를 다시 확인해주세요.");
            }
            else {
              location.href="/";

              alert(data.userId + "님 반갑습니다.");

              // history.back();
              // location.reload();

            }
          },
          error: function () {
            alert("통신 실패");
          }
        });
      });
    });
  </script>
</head>
<body>
<header th:replace="layout/header :: mainHeader(${categoryList})"></header>
<section>
  <div class="container my-2">
    <div class="row">
      <aside th:replace="layout/sidebarLeft :: leftSidebar(${categoryList})"></aside>
      <div class="col-sm-8 section-inner">
        <div class="container">
          <div class="row d-flex justify-content-center my-3">
            <div class="card col-sm-8 p-4">
              <div class="text-center py-3 mb-1" style="border-bottom: solid 1px lightgray">
                <h4>로그인</h4>
              </div>
              <form class="validation-form needs-validation p-3">
                <div class="col-sm-12 my-3">
                  <label class="form-label" for="userId">아이디</label>
                  <input type="text" class="form-control" id="userId" name="userId" placeholder="ID" required>
                </div>

                <div class="col-sm-12 my-3">
                  <label class="form-label" for="userPw">비밀번호</label>
                  <input type="password" class="form-control" id="userPw" name="userPw" placeholder="*******" required>
                </div>
                <hr class="my-4">
                <button id="btn-submit" class="w-100 btn btn-primary btn-lg" type="button">로그인</button>
              </form>
            </div>
          </div>
        </div>


      </div>
      <aside th:replace="layout/sidebarRight :: sidebarRight"></aside>
    </div>
  </div>
</section>

<footer th:replace="layout/footer :: mainFooter"></footer>

</body>
</html>
